<br>
<div class="position"><ag-grid-angular 
[columnDefs]="columnDefs"
[rowData]="rowData | async"
style="width: 1000px;height: 500px; position: center;  "
class="ag-theme-balham"
[frameworkComponents]="frameworkComponents"

></ag-grid-angular >


</div>



<!--<div class="container">
    <h1>Liste des champions</h1>
    <table>
        <thead>
           
            <th>Id</th>
            <th>Name</th>
            <th>Title</th>
            <th>Tags</th>                     
            <th>Key</th>
            
        </thead>
        <tbody>
            <tr *ngFor="let champion of champion">
                <td>{{champion.id}}</td>
                <td>{{champion.name}}</td>
                <td>{{champion.title}}</td>
                <td>{{champion.tags}}</td>
                <td>{{champion.key}}</td>
            </tr>
        </tbody>
    </table>
</div>-->




